@import '~normalize.css';
@import '~react-select/dist/react-select.css';
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,700');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100vw;
  min-height: 100vh;
  
  background: linear-gradient(-30deg, #FAC9B5, #FDA6C4);
  background-attachment: fixed;

  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}
